.newsletter {
    padding: 2rem;
    background-color: #e6f7ff;
    text-align: center;
  }
  .newsletter-form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }
  .newsletter p{
    color: rgb(83, 83, 83);
  }
  .newsletter h2{
    color: #000000;
  }
  .newsletter-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  .newsletter-form button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  .newsletter-form button:hover {
    background-color: #0056b3;
  }  

.footer{
    width: 100%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.footer-1{
    width: 25%;
    height: 40vh;
}
.footer-1 img{
    width: 40px;
    height: auto;
    margin: 5px;
    margin-left: 25px;
}
.brand1 {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .brand1 img {
    width: 12%;
    height: auto;
  }
  
  .brand1 span {
    font-size: 25px;
    font-weight: bold;
    color: #007bff;
  }
  .footer-1 p{
    color: black;
    font: 1em sans-serif;
    margin-left: 35px;
  }

.footer-2{
    width: 13%;
    height: 40vh;
}
.footer-2 h3{
  margin: 12px;
}
.footer-2 li{
  list-style: none;
  padding: 10px;
}
.footer-2 a{
    color: rgb(66, 65, 65);
    text-decoration: none;
}
.footer-3{
    width: 13%;
    height: 40vh;
}
.footer-3 h3{
  margin: 12px;
}
.footer-3 li{
  list-style: none;
  padding: 10px;
}
.footer-3 a{
    color: rgb(66, 65, 65);
    text-decoration: none;
}
.footer-4{
    width: 13%;
    height: 40vh;
}
.footer-4 h3{
  margin: 12px;
}
.footer-4 li{
  list-style: none;
  padding: 10px;
}
.footer-4 a{
    color: rgb(66, 65, 65);
    text-decoration: none;
}
.footer-5{
    width: 13%;
    height: 40vh;
}
.footer-5 h3{
  margin: 12px;
}
.footer-5 li{
  list-style: none;
  padding: 10px;
}
.footer-5 a{
    color: rgb(66, 65, 65);
    text-decoration: none;
}
.footer-6{
    width: 25%;
    height: 40vh;
}
.footer-6 p{
    color: rgb(66, 65, 65);
}
.footer-6 img{
    width: 145px;
    height: auto;
    border-radius: 5px;
}
.footer-low select{
    border: none;
    outline: none;
    background-color:  rgb(222, 251, 253);
    width: 150px;
    height: 50px;
    margin: 5px;
}
.footer-low p{
    color: rgb(102, 102, 102);
    margin-left: 20px;
}
.footer-low{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(222, 253, 255);
}